html {
  font-size: 16px;
  width: 100%;
  background: -webkit-linear-gradient(rgba(50, 57, 225, 0.8), rgba(215, 222, 230, 0));
  background: -moz-linear-gradient(rgba(50, 57, 225, 0.8), rgba(215, 222, 230, 0));
  background: -o-linear-gradient(rgba(50, 57, 225, 0.8), rgba(215, 222, 230, 0));
  background: linear-gradient(rgba(50, 57, 225, 0.8), rgba(215, 222, 230, 0));
}

/*  
rgba(50, 57, 225, 0.8), rgba(215, 222, 230, 0));

*/

body {
  font-family: Helvetica, sans-serif;
  width: 96%;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  color: rgb(251, 255, 0);
  font-family: Georgia, sarif;
  text-shadow: -4px 4px 4px rgb(0, 0, 0);
}

h2 {
  font-size: 1.3em;
}

.wrapper section p {
  text-align: left;
  line-height: 1.5em;
  width: 35%;
  margin-top: 0;
}

a:link {
  text-decoration: none;
  color: red;
  font-family: Georgia, sarif;

  -webkit-transition: text-shadow 0.5s;
  -moz-transition: text-shadow 0.5s;
  -o-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s;
}

a:visited {
  color: red;
}

a:hover {
  text-shadow: -4px 4px 4px black;
}

a:active {
  color: black;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper section {
  display: block;
  border: 1px solid black;
  width: 60%;
  min-width: 500px;
  margin: 2em 0em;
  padding: 2em 1%;
  background-color: beige;
}

.wrapper section:after {
  content: '';
  display: block;
  clear: both;
}

.wrapper section.even_section {
  margin-left: 15%;
}


.wrapper section p:first-letter {
  font-size: 2.2em;
  font-family: Georgia, sarif;
  color: rgba(255, 0, 0, 0.8);
}

.wrapper section.odd_section img {
  float: left;
}

.wrapper section.even_section img {
  float: right;
}

.wrapper section.odd_section p {
  float: right;
}

.wrapper section.even_section p {
  float: left;
  margin-left: 4%;
}

.wrapper section img:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1300px)
{
  .wrapper section.even_section {
    margin-left: 0;
  }

  .wrapper section.odd_section p{
    margin-top: 1em;
  }

  h1 {
    text-align: left;
  }
}

@media screen and (max-width: 1025px)
{
  .wrapper section {    
  }

  .wrapper section.odd_section img,
  .wrapper section.odd_section p,
  .wrapper section.even_section img,
  .wrapper section.even_section p
  {
    float: none;
    margin: 0 0 1em 0;
  }
}

@media screen and (max-width: 635px)
{
  h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 435px)
{
  h1 {
    font-size: 1em;
  }

  .wrapper section p {
    width: 25%;
  }
}
